code {
  font-family: Consolas,"courier new";
  color: rgb(0, 255, 38);
  background-color: var(--dark-gray);
  border: solid 0.15rem black;
  padding: 2px;
  font-size: 105%;

  width: 100%;
  border-radius: 1em;
  padding: 1em;
  padding-top: 2rem;

  display: block;
  width: 80%;
}

p code {
  width: 100%;
}

pre {
  /*white-space: pre-wrap;   /* Wrap long lines */
  /*word-wrap: break-word;   /* Ensure breaking on long words */
  overflow-x: auto;        /* Horizontal scroll if needed */
  max-width: 100%;
}
