/* === Links === */
a {
  display: inline-block;
  color: rgb(var(--black));
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.1s;
}
a:hover {
  color: rgb(var(--orange));
  transform: rotate(2deg) scale(1.1) translateY(5%) translateX(5%);
}